.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 360px;

  .location {
    label {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .input {
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #ffffff;
      border-radius: 8px;

      .icon {
        margin-right: 10px;
      }

      input {
        border: none;
        background: transparent;
        font-size: 16px;
        color: #333;
      }
    }
  }

  .filters {
    // width: 360px;

    h3 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .section {
      margin-bottom: 20px;

      &__h4 {
        border-bottom: 1px solid rgba(218, 221, 225, 1);
        padding-bottom: 24px;
      }
      h4 {
        font-size: 16px;
        margin-bottom: 10px;
      }

      .grid {
        display: flex;
        gap: 7px;
        flex-wrap: wrap;
        svg {
          margin-bottom: 8px;
        }
        .option {
          all: unset;
          border: 1px solid #e5e7eb;
          border-radius: 8px;
          text-align: center;
          width: 112px;
          height: 96px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          img {
            margin-bottom: 5px;
            width: 24px;
            height: 24px;
          }

          &.selected {
            border-color: #d9534f;
          }
        }
      }
    }
  }

  .searchButton {
    text-align: center;
    display: flex;


    button {
      background-color: #d9534f;
      color: white;
      border: none;
      border-radius: 30px;
      padding: 12px 24px;
      font-size: 16px;
      cursor: pointer;
      width: 166px;
      height: 56px;
    }
  }
}
