.features {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.feature {
  border-radius: 100px;
  padding: 0 18px;
  max-width: 143px;
  height: 48px;
  background-color: rgba(242, 244, 247, 1);
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: rgba(16, 24, 40, 1);
}
