@import "../../styles/variables";

.container {
  background-image: url("/src/assets/img/backgroundImg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 1440px 696px;
  height: 100vh;

  & h1, h2 {
    color: white;
  }
}


